body{scroll-behavior: smooth;}

body {
    /* The image used */
    background-image: url("https://images.pexels.com/photos/16710268/pexels-photo-16710268/free-photo-of-asparagus-with-lemon-on-plate-on-table.jpeg");
  
    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }

.container{background-color: white;
    padding:25px;
    margin-top:15vh;
    margin-bottom:15vh;}

#container-fix{min-width: 100vw;
    background-color:white;}

.row{background-color:white;}

.home-buttons{width:100%;}

.menu-container {
    text-align: center;
  }
  
  .menu-links {
    margin-top: 20px;
  }
  
  .menu-links a {
    display: inline;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size:2.25rem;
  }
  
  .menu-links a:hover {
    text-decoration: underline;
  }
  

@media (max-width: 600px) {

#large-nav {display: none;}

#small-nav {background-color:#333;
    overflow:hidden;
    position:relative;
    height:auto;}

#small-nav h1{font-size: 2rem;
    margin-top:10px;
    margin-bottom:0;
    margin-left:10px;}

#small-nav h2{font-size: 1.75rem;
    margin-bottom:10px;
    margin-left:10px;}

#small-nav a#logo{text-decoration: none;
    color:white;} 

#small-nav #links{display:none;}

#small-nav li{line-height:3rem;
    text-align:center;
    list-style-type: none;}

#small-nav ul li a{color: white;
    display: block;
    text-decoration: none;}

#small-nav a.icon {background:#333;
    color:white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height:50px;
    width:50px;
    font-size: 3rem;
    text-align:center;
    padding-top:.75rem;}
}

/* Larger than phablet */
@media (min-width: 600px) {
    
#small-nav{display: none;}

#large-nav #margin-fix{margin:auto;
    padding:auto;}

#large-nav {width:100vw;
    height:125px;
    display:flex;
    z-index:999;
    background-color: white;}

#large-nav a {color:black;
    text-decoration:none;}

#large-nav a:hover{text-decoration: underline;}

#large-nav a.active{text-decoration: underline;}

#large-nav h1{text-align:center;
    font-size: 3.5rem;
    margin-bottom:0;
    padding-left:0;}

#large-nav h2{text-align:center;
    font-size:2.5rem;
    margin-bottom:0;
    white-space: nowrap;}

#large-nav ul{display:flex;
    margin-top:50px;
    padding:auto;
    justify-content: center;
    align-items: center;}

#large-nav li{display: inline;
    font-size: 2rem;
    padding-right: 3rem;}
}